.App {
  text-align: center;
}

.navbar {
  /* background-color: #f8f9fa; */
  /* border-bottom: 1px solid #e7e7e7; */
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
  ;
}

.navbar-icon img {
  width: 150px;
  height: 40px;
  margin-left: 270px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto; 
}

ul {
  display: flex;
  justify-content:space-around;
  list-style-type: none;
  width: 70%;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header section */

.header {
  position: relative;
  background-color: #495e57;
  padding: 20px;
  width: 98%;
  height: 340px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.title {
  color: #f4ce14;
  font-size: 2em;
  margin-left: 250px;
}

.sub-title {
  font-size: 1.5em;
  margin-left: 250px;
}

.p-description {
  width: 17%;
  color: aliceblue;
  margin-left: 250px;
}

.btn {
  background-color: #f4ce14;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
  margin-left: 250px;
}

.header img {
  position: absolute;
  right: 450px;
  bottom: -100px;
  height: 460px;
  width: 380px;
  border-radius: 20px;
}

/* Main section */

.menu-title{
  display: flex;
  justify-content:space-around;
  margin-top: 120px;
  height: 60px;
}

.menu-title h1 {
  margin-top: -50px;
  font-size: 2em;
  color: #495e57;
}

.menu-title button {
  margin-right: 40px;
}

/* Card container */

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card .price {
  color: #888;
  margin: 10px 0;
}

.card a {
  color: #00f;
  text-decoration: none;
}

.card p {
  color: #888;
  margin: 10px 0;
}

/* Media query for mobile devices */
@media screen and (max-width: 600px) {
  .navbar-icon img {
    margin-left: 10px;
    width: 100px;
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }

  .title, .sub-title, p, .btn {
    margin-left: 10px;
  }

  p {
    width: 90%;
  }

  .header img {
    position: static;
    height: auto;
    width: 100%;
    right: auto;
    bottom: auto;
  }
}