.App {
  text-align: center;
}

.navbar {
  padding: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.navbar-icon img {
  width: 150px;
  height: 40px;
  margin-left: 270px;
  margin-right: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 70%;
  margin-left: auto;
}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 70%;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header section */
.header {
  position: relative;
  background-color: #495e57;
  padding: 20px;
  width: 98%;
  height: 340px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.title, .sub-title, .p-description, .btn {
  margin-left: 250px;
}

.btn {
  background-color: #f4ce14;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;
}

.header img {
  position: absolute;
  right: 450px;
  bottom: -100px;
  height: 460px;
  width: 380px;
  border-radius: 20px;
}

/* Main section */
.menu-title {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
  height: 60px;
}

.menu-title h1 {
  margin-top: -50px;
  font-size: 2em;
  color: #495e57;
}

/* Card container */
.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
}

.card .price, .card p {
  color: #888;
  margin: 10px 0;
}

.card a {
  color: #00f;
  text-decoration: none;
}

/* Media Queries */

/* Mobile Devices */
@media screen and (max-width: 600px) {
  
  .header {
    height: 300px;
  }
  .navbar-icon img {
    margin-left: 10px;
    width: 100px;
    height: auto;
  }

  .nav-links {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0;
  }

  .nav-links ul {
    flex-direction: column;
    width: 100%;
  }
/* style links to be less in size */
  a {
    font-size: 0.8em;
  }

  .title, .sub-title, .p-description, .btn {
    margin-left: 10px;
  }

  p {
    width: 90%;
  }

  .header img {
    display: none; /* Ensures the image is hidden on mobile devices */
  }
}

/* Tablets */
@media screen and (min-width: 601px) and (max-width: 801px) {
  .navbar-icon img {
    margin-left: 50px; 
    width: 123px; 
  }

  .nav-links, .nav-links ul {
    justify-content:end;
    gap: 13px;
    margin-right: 30px;
  }

  a {
    font-size: 0.7em;
  }

  .title, .sub-title, .p-description {
    margin-left: 20px; 
  }

  .p-description {
    font-size: 0.7em;
    width: 40%; 
  }

  .header {
    width: 92%;
    height: 250px; 
  }
  .header img {
    right: 5%;
    width: 220px; 
    height: 280px; 
    margin-bottom: 40px;
  }

  .menu-title{
    margin-top: 40px;
    align-items: flex-end;
  }


  .menu-title h1 {
    margin-top: -70px;
    font-size: 1.5em; 
  }

  .btn{
    margin-left: 20px;
    padding: 8px 18px; 
    font-size: 0.7em;
  }

  .online-menu {
    padding: 4px 14px;
    margin-right: 30px; 
  }
  .card-container{
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
  }
  .card{
    border-radius: 10px;
    width: 160px;
  }
  .card p {
    font-size: 0.7em; 
  }
  .title-price {
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: 0.8em; 
  }
  .card a {
    margin-right: 32px;
    font-size: 0.8em;
    font-weight: bold;
    color: #495e57; 
  }


  .card img {
    width: 140px;
    border-radius: 10px;
  }
}

@media screen and (min-width: 801px) and (max-width: 1024px) {
  
}

/* Desktop */
@media screen and (min-width: 1025px) {
  .navbar-icon img, .title, .sub-title, .p-description, .btn {
    margin-left: 270px; /* Original positioning for desktop */
  }

  .header img {
    /* Keep the original desktop positioning and sizing */
    right: 450px;
    bottom: -100px;
    height: 460px;
    width: 380px;
  }
}
